body {
    background-color: antiquewhite;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 50px;
    border: 2px none red;
    border-radius: 6px;
    background-color: antiquewhite;
}

.flex-item {
    border: 2px solid rgb(241, 156, 156);
    border-radius: 7px;
    width: 90px;
    padding: 3px;
    text-align: center;
    background-color: rgb(247, 167, 167);
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    border: 3px dotted rgb(206, 36, 65);
}

.cartel {
    width: 460px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid rgb(241, 156, 156);
    background-color: rgb(247, 167, 167);
    color: white;
    border-radius: 6px;
    padding: 16px 20px 10px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin: 10px;
    margin-top: 4px;
}

.imagen {
    text-align: center;
}

input {
    margin: 4px;
    width: 100px;
}